.DS_Store
*.log
node_modules
build
*.node
components
*.orig
.idea
test
.travis.yml
.gitignore
coverage
dist
tests
sample-options.json
gulpfile.js
Makefile
README.md
CONTRIBUTING.md
.eslintrc
.bithoundrc
.codeclimate.yml
.eslintrc
appveyor.yml
